<!DOCTYPE html>

<style>
    
body {
  background-color: #4A71D9;
}
    
</style>



<html>
<div style="position:relative; ">
    <div id="invite" style="width: 100%; position:absolute;">
        <img id="invitepancakeimage" src="{{url_for('static', filename='pancakebackround.jpg')}}" style="width:100%; z-index:0;">
        <div id="invitebackround" style="width:80%; height:80%; top:10%; left:10%; position:absolute; text-align: center; ">
            <div style="background-color: #000000; width:100%; height:100%; opacity: 0.6; z-index:1; position:absolute;">
            </div>
            <div style="font-size: 10vw; color:#C5A84E; opacity:1; z-index:2;">
                You are invited to
            </div>
            <div style="font-size: 20vw; color:#D9CE4A; opacity:1; z-index:2; position:relative; margin-bottom:-7vw;">
                Pancake
            </div>
            <div style="font-size: 20vw; color:#D9CE4A; opacity:1; z-index:2; position:relative;">
                Morning
            </div>
        </div>
    </div>
    
    <div style="position:relative; top:68vw;">
        At sussex uni
    </div>
    <div style="position:relative; top:70vw;">
        Brighthelm 22, 14th october, saturday
    </div>
</div>
    
    
<head>
    <title></title>
</head>
<body>


</body>
</html>
